/* webfont */
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* reset */
* { margin:0; padding:0; }
li { list-style:none; }
a { text-decoration:none; color:#fff; }
img { vertical-align:top; }

html {
    overflow-x: hidden;
    background-color: #1D3264;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.wrap { width:1200px; margin:0 auto; position:relative; }
.wrap:after, ul:after, .cl:after { content:""; clear:both; display: block; }
.blind { position:absolute; left:-9999px; width:0; height:0; font-size:0; overflow:hidden; }


/* ------------------------헤더------------------------ */
header {
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    background-color:#0E2653;
    width: 100%;
    height: 96px;
}

header nav {
    margin: 0 134.5px;
}


/* ------------------------회원가입 이메일 인증------------------- */
#cont {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: auto;
    color:#e7e7e7;
    padding: 100px 0;
    box-sizing: border-box;
    outline: 0;
}

#cont h3 {
    font-size: 24px;
    margin-bottom: 20px;
}


#cont .passbox {
    margin-bottom: 40px;
}

#cont .passbox img {
    margin: 0 8px;
}

#cont .form-cert {
    width: 480px;
    height: auto;
    margin-top: 60px;
}


#cont form > div input {
    width: 280px;
    font-size: 16px;
    background-color: #1D3264;
    color:#fff;
    border:none;
    outline: none;
    padding-bottom: 10px;
    border-bottom: 1px solid #888;
}

#cont form > div input.on {
    border-bottom: 1px solid #2affcc;
}


input[type="button"] {
    width: 390px;
    font-size: 16px;
    font-weight: 900;
    background-color:#2affcc;
    color:#000;
    border-radius: 50px;
    border:none;
    outline: none;
    padding:14px 0;
    cursor: pointer;
}

#cont form > div button {
    width: 98px;
    height: 32px;
    background-color: #182258;
    border-radius: 15px;
    cursor: inherit;
    border:1px solid #cfcfcf;
    color:#cfcfcf;
    font-size: 12px;
    position: relative;
    top:3px;
}

#cont .form-cert p {
    color:#2affcc;
    font-size: 12px;
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
}

#cont .form-cert form > div:nth-of-type(2), #cont .form-cert form > div:nth-of-type(4) {
    margin-left: 50px;
}

#cont .form-cert p:nth-of-type(2) {
    color:#FF0000;
    position: relative;
    top:-17px;
}

#cont .form-cert .email-check {
    margin-bottom: 60px;
}

#cont .form-cert .number-check {
    margin-bottom: 80px;
}

/* ------------------------이메일 비인증 팝업창------------------------ */
#certf {
    position: fixed;
    z-index:1000;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    top:0;
    left:0;
    visibility: hidden;
    /* 입력한 아이디, 비밀번호의 정보가 틀린 시 visibility: visible; */
}

#certf #non-cert {
    width: 380px;
    height: 240px;
    background-color: #222;
    border-radius: 5px;
    position: relative;
    left:50%;
    margin-left: -190px;
    top:50%;
    margin-top: -120px;
}

#certf #non-cert .header {
    color:#cfcfcf;
    font-size: 16px;
    width: 380px;
    height: 60px;
    border-bottom: 1px solid #414141;
    display:flex;
    align-items: center;
    justify-content: center;
}

#certf #non-cert .body {
    color:#cfcfcf;
    font-size: 16px;
    width: 380px;
    height:120px;
    display:flex;
    align-items: center;
    justify-content: center;
}

#certf #non-cert .footer {
    color:#cfcfcf;
    font-size: 16px;
    width: 380px;
    height: 60px;
    display:flex;
    align-items: center;
    justify-content:center;
}

#certf #non-cert .footer button {
    border:1px solid #cfcfcf;
    color:#cfcfcf;
    font-size: 14px;
    padding: 10px 80px;
    border-radius: 50px;
    background-color: #222;
    position: relative;
    top:-10px;
    cursor: pointer;
}
