/* webfont */
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* reset */
* { margin:0; padding:0; }
li { list-style:none; }
a { text-decoration:none; color:#fff; }
img { vertical-align:top; }

html {
    overflow-x: hidden;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.wrap { width:1400px; margin:0 auto; position:relative; }
.wrap:after, ul:after, .cl:after { content:""; clear:both; display: block; }
.blind { position:absolute; left:-9999px; width:0; height:0; font-size:0; overflow:hidden; }

.body::-webkit-scrollbar{ width: 10px; }
.body::-webkit-scrollbar-track { background-color:#353535; }
.body::-webkit-scrollbar-thumb { background-color:#a0a0a0; border-radius: 10px;}


/* ------------------------로그인 배경------------------------ */
#bg {
    width: 100vw;
    height: 100vh;
    background:url(../images/login1.jpg) no-repeat top/cover;
}


/* ------------------------로그인 입력 부분------------------------ */
#input {
    background:rgba(18,18,18,0.8);
    width: 560px;
    height: 100vh;
    position: fixed;
    right:0;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow:rgba(0,0,0,0.3) 0px 32px 64px;
}

#input .form {
    box-sizing: border-box;
    min-width: 400px;
    padding: 0 36px;
    margin-top: 60px;
    letter-spacing: normal;
}

#input .form .id input {
    width: 328px;
    font-size: 14px;
    background-color: #353535;
    color:#fff;
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 16px;
    border:none;
}

#input .form .pw input {
    width: 328px;
    font-size: 14px;
    background-color: #353535;
    color:#fff;
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 16px;
    border:none;
}

#input .form .pw {
    position: relative;
}

#input .form .pw img {
    position: absolute;
    top:16px;
    right:19px;
    cursor: pointer;
    visibility: visible;
}

#input .form .pw img:nth-of-type(2).on {
    visibility: hidden;
}

#input .form .logcheck {
    display: inline-block;
    color:#888;
    font-size:13px;
    position: relative;
}

#input .form .logcheck span {
    position: relative;
    top:-4px;
}

#input .form .emailcheck {
    display: inline-block;
    margin-left: 10px;
    color:#888;
    font-size:13px;
    position: relative;
}

#input .form .emailcheck span {
    position: relative;
    top:-4px;
}

/* 폼 체크박스 이미지로 변환 */
input[type="checkbox"]+label {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/ic-uncheck.png) no-repeat 0 0px / contain;
}

input[type='checkbox']:checked+label {
    background: url(../images/ic-check.png) no-repeat 0 0px / contain;
}

input[type="checkbox"] {
    display: none;
}



#input .form .loginbtn {
    margin: 40px 0 120px;
}

input[type="button"] {
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    background-color:#2affcc;
    color:#000;
    border-radius: 50px;
    border:none;
    outline: none;
    padding:10px 0;
    opacity: 0.3;
    cursor: pointer;
}


#input .form .search {
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-bottom: 20px;
}

#input .form .search span {
    color: #fff;
    font-size: 12px;
    margin: 0 10px;
    position: relative;
    top:-2px;
}

#input .form .join {
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

#input .form .join span {
    color:#fff;
    font-size: 12px;
    margin-right: 10px;
}

#input .form .join span:nth-of-type(2) {
    margin-right: 0;
    cursor: pointer;
    text-decoration: underline;
}



/* ------------------------로그인 실패 팝업창------------------------ */
#fail {
    position: fixed;
    z-index:1000;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    top:0;
    left:0;
    visibility: hidden;
    /* 입력한 아이디, 비밀번호의 정보가 틀린 시 visibility: visible; */
}

#fail #popup {
    width: 380px;
    height: 240px;
    background-color: #222;
    border-radius: 5px;
    position: relative;
    left:50%;
    margin-left: -190px;
    top:50%;
    margin-top: -120px;
}

#fail #popup .header {
    color:#cfcfcf;
    font-size: 16px;
    width: 380px;
    height: 60px;
    border-bottom: 1px solid #414141;
    display:flex;
    align-items: center;
    justify-content: center;
}

#fail #popup .body {
    color:#cfcfcf;
    font-size: 16px;
    width: 380px;
    height:120px;
    display:flex;
    align-items: center;
    justify-content: center;
}

#fail #popup .footer {
    color:#cfcfcf;
    font-size: 16px;
    width: 380px;
    height: 60px;
    display:flex;
    align-items: center;
    justify-content:center;
}

#fail #popup .footer button {
    border:1px solid #cfcfcf;
    color:#cfcfcf;
    font-size: 14px;
    padding: 10px 80px;
    border-radius: 50px;
    background-color: #222;
    position: relative;
    top:-10px;
    cursor: pointer;
}

/* ------------------------term 이용약관 팝업창------------------------ */
#term {
    position: fixed;
    z-index:1000;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    top:0;
    left:0;
    visibility: hidden;
}

#term #cont {
    width: 590px;
    height: 730ox;
    background-color: #222;
    border-radius: 10px;
    position: relative;
    left:50%;
    margin-left: -295px;
    top:50%;
    margin-top: -365px;
}

#term #cont .header {
    width: 590px;
    height: 130px;
    border-bottom: 1px solid #414141;
    position: relative;
}

#term #cont .header p {
    font-size: 30px;
    color: #fff;
    padding: 46px 0 50px 32px;
    font-weight: bold;
    display: inline-block;
}

#term #cont .header span {
    color:#aaa;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top:40px;
    right:50px;
}

#term #cont .body {
    overflow: auto;
    width: 590px;
    height: 600px;
    padding: 16px 0;
}

#term #cont .body p {
    color:#aaa;
    padding: 0 32px;
    font-size:14px;
}


/* ------------------------footer------------------------ */
footer {
    color:#cfcfcf;
    font-size:12px;
    font-weight:600;
    line-height: 2;
    position: absolute;
    bottom:6%;
    left:6%;
}

footer .using {
    font-weight: 800;
    cursor: pointer;
}

footer address {
    font-style: normal;
}

footer ul li {
    float:left;
}

footer ul li:after {
    content:"|";
    margin:0 6px;
}

footer ul li:last-of-type:after {
    display:none;
}

















