/* webfont */
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* reset */
* { margin:0; padding:0; }
li { list-style:none; }
a { text-decoration:none; color:#fff; }
img { vertical-align:top; }

html { overflow-x: hidden; }

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color:#102D61;
}

.wrap { width:1200px; margin:0 auto; position:relative; }
.wrap:after, ul:after, .cl:after { content:""; clear:both; display: block; }
.blind { position:absolute; left:-9999px; width:0; height:0; font-size:0; overflow:hidden; }

/* ------------------------최상단 프로모션 이미지------------------------ */
.promotion {
    position: relative;
    top:0;
    left:0;
    width: 100%;
    height:33vh;
    background: url(../images2/main_header.jpg) no-repeat center;
}

.promotion img {
    position: absolute;
    top:10%;
    right:10%;
    cursor: pointer;
}


/* ------------------------TOP 스크롤 버튼------------------------ */
.topscroll {
    position: fixed;
    bottom:50px;
    right:150px;
    z-index: 1000;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50px;
    border:3px solid #2affcc;
    cursor: pointer;
    opacity: 0;
    transition:0.3s;
}

.topscroll span {
    font-size: 30px;
    color:#2affcc;
    position: relative;
    top:6px;
}


/* ------------------------헤더, 내비게이션바------------------------ */
header {
    width: 100%;
    height: 80px;
    position: relative;
    z-index: 2000;
    background: #0E2653;
}

header nav {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1200px;
}

header nav h1 {
    height: 28px;
}

header nav #snb li {
    float:left;
}

header.fix {
    position: fixed;
    top:0;
}

header #gnb {
    margin: 0 50px;
}

header #gnb li a {
    color:#fff;
}

header #snb {
    margin-left: 50%;
}

header #snb li:nth-of-type(2) {
    margin: 0 50px;
}

header #snb span {
    color:#fff;
}

header #snb li:last-of-type {
    cursor: pointer;
    position: relative;
    height: 24px;
}

header #snb li:last-of-type img:last-of-type {
    position: relative;
    top:10px;
}



header nav #snb .user_icon .user_info {
    visibility:hidden;
    width: 136px;
    height: 242px;
    background: #243F7D;
    position: relative;
    top:28px;
    right:40px;
    text-align: center;
    border-radius:5px;
    color:#fff;
}

header nav #snb .user_icon .user_info.on {
    visibility:visible;
}

header nav #snb .user_icon .user_info li {
    width: 100%;
    margin: 0;
}

header nav #snb .user_icon .user_info img {
    position: relative;
    top:2px;
}

header nav #snb .user_icon .user_info > li:nth-of-type(2) {
    margin: 15px 0;
    font-size:20px;
}

header nav #snb .user_icon .user_info > li:last-of-type {
    height: 133px;
}

header nav #snb .user_icon .user_info ul {
    padding: 15px 0;
    border-top:1px solid #666;
}

header nav #snb .user_icon .user_info .user_item li {
    height: 34px;
}

header nav #snb .user_icon .user_info .user_item li a {
    width: 136px;
    height: 34px;
    display: block;
    line-height:2;
}

header nav #snb .user_icon .user_info .user_item li a:hover {
    background-color:rgba(42,255,204,0.5);
}



/* ------------------------고객센터 1:1 문의, FAQ------------------------ */
#cont1 {
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction:column;
    background-color: #1C3161;
    border-bottom: 1px solid #666;
}

#cont1 .wrap ul li {
    float:left;
    font-size: 22px;
    color:#fff;
    margin-right: 60px;
    position: relative;
    top:12px;
}

#cont1 .wrap ul li a {
    color:#2affcc;
    display: block;
    height: 40px;
}

#cont1 .wrap ul .title {
    font-size: 36px;
    font-weight: 600;
    position: static;
}

/* ------------------------1:1 문의, FAQ 링크------------------------ */
#cont2 {
    width: 100%;
    height: auto;
    padding-top: 40px;
    color:#fff;
}

#cont2 .wrap {
    padding-bottom: 40px;
}

#cont2 .wrap .cslist {
    border:2px solid #888;
    border-radius: 50px;
    padding: 6px 0;
    display: inline-block;
}

#cont2 .wrap .cslist li {
    float:left;
    margin-right: 10px;
    padding: 0 30px;
}

#cont2 .wrap .cslist li:last-of-type {
    margin-right: 0;
}

#cont2 .wrap .cslist li a {
    font-size: 16px;
    width: inherit;
}

#cont2 .wrap .cslist li:first-of-type a {
    color:#888;
}



/* ------------------------FAQ------------------------ */
#cont3 {
    width: 100%;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction:column;
}

#cont3 .wrap .faqnav {
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction:row;
    padding-bottom: 40px;
    border-bottom: 1px solid #666;
}

#cont3 .wrap .faqnav ul {

}

#cont3 .wrap .faqnav ul li {
    float:left;
    height: 48px;
    position: relative;
}

#cont3 .wrap .faqnav ul li a {
    color:#888;
    padding: 0 20px;
    display: block;
    height: 48px;
    line-height: 2.8;
}

#cont3 .wrap .faqnav ul li:after {
    content: "";
    width: 1px;
    height: 16px;
    background-color: #888;
    display: inline-block;
    position: absolute;
    top:16px;
    right:0;
}

#cont3 .wrap .faqnav ul li:last-of-type:after {
    display: none;
}

#cont3 .wrap .faqnav ul li:nth-of-type(1) a {
    color:#fff;
}

#cont3 .wrap .faqnav form {
    position: relative;
    width: 500px;
    height: auto;
    background-color: #243F7D;
    border-radius: 5px;
}

#cont3 .wrap .faqnav form input {
    width: 400px;
    height: 38px;
    background-color: #243F7D;
    outline: 0;
    border:0;
    border-radius: 5px;
    padding: 5px 10px;
    color:#fff;
}

#cont3 .wrap .faqnav form button {
    z-index: 500;
    position: absolute;
    top:14px;
    right:20px;
    border:0;
    background-color:rgba(255,255,255,0);
}






#cont3 .wrap .faqlist li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    height: 60px;
    border-bottom: 1px solid #666;
    cursor: pointer;
    position: relative;
}

#cont3 .wrap .faqlist li:hover, #cont3 .wrap .faqlist li:focus {
    background-color: #000030;
}

#cont3 .wrap .faqlist li span {
    color:#ddd;
}

#cont3 .wrap .faqlist li .faqtitle {
    width: 104px;
    text-align: center;
}

#cont3 .wrap .faqlist li .faqcontent {
    width: 996px;
    margin-left: 40px;
}

#cont3 .wrap .faqlist li .faqicon {
    width: 20px;
    position: relative;
    top:7px;
}

#cont3 .wrap .faqlist .faqtext {
    display: none;
    width: auto;
    height: auto;
    padding: 40px 164px;
    background-color: #0E2653;
    cursor: inherit;
    color:#ddd;
    line-height: 2;
}

#cont3 .wrap .faqlist .faqtext:hover {
    background-color:#0E2653;
}









#cont3 .wrap .faqnum {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    margin-top: 40px;
}

#cont3 .wrap .faqnum .before {
    padding: 0 30px;
    color:#888;
}

#cont3 .wrap .faqnum .after {
    padding: 0 30px;
    color:#888;
}

#cont3 .wrap .faqnum .page-1 {
    padding: 0 20px;
}

#cont3 .wrap .faqnum .page-2 {
    padding: 0 20px;
}

#cont3 .wrap .faqnum .page-2 a {
    color:#888;
}



/* ------------------------푸터, 웹사이트 정보------------------------ */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    width: 100%;
    height: auto;
    position: relative;
    background: #0E2653;
    font-style: normal;
    color:#aaa;
    font-size:11px;
    height: 206px;
    border-top: 1px solid #666;
}

footer ul {
    margin-bottom: 16px;
    font-size:13px;
}

footer ul li a:hover {
    color:#fff;
}

footer ul li {
    float:left;
    margin-right: 30px;
}

footer ul li:last-of-type {
    margin-right: 0;
}

footer ul li a {
    color:#aaa;
}

footer ul li:nth-of-type(3) a {
    color:#fff;
}

footer address {
    font-style: normal;
    font-size:12px;
}

footer p:nth-of-type(2) {
    margin-bottom: 20px;
}





